name: Build

on: [push]
                
jobs:
  release-windows:
    name: windows
    runs-on: windows-latest
    steps:
        - name: Checkout repository
          uses: actions/checkout@v5
          with:
            submodules: recursive
        - name: Build
          run: |
              cmake --preset x64-Clang-Release .
              cmake --build ./Build/x64-Clang-Release
        - name: Upload Windows artifact
          uses: actions/upload-artifact@v4
          with:
            name: AsmCube-windows64${{ needs.get-info.outputs.date }}-${{ needs.get-info.outputs.shorthash }}
            path: Build\x64-Clang-Release\AsmCube.exe

  release-linux:
    name: linux
    runs-on: ubuntu-24.04
    steps:
        - name: Checkout repository
          uses: actions/checkout@v5
          with:
            submodules: recursive
        - name: Install dependencies
          run: |
              sudo apt update
              sudo apt install -y ninja-build clang cmake
        - name: Build
          run: |
              cmake --preset x64-Clang-Release .
              cmake --build ./Build/x64-Clang-Release
        - name: Upload Linux artifact
          uses: actions/upload-artifact@v4
          with:
            name: AsmCube-linux64${{ needs.get-info.outputs.date }}-${{ needs.get-info.outputs.shorthash }}
            path: Build/x64-Clang-Release/AsmCube